.container, .loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.card {
  background-color: whitesmoke;
  color: #000000DE;
  border-radius: 1rem;
  border-style:solid;
  padding: 1rem;
  width: 30rem;
  min-height: 20rem;
  font-size: 1.4rem;
}

.list {
  width: 100%;
  list-style: none;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.image {
  width: 10rem;
  height: 10rem;
  margin: 0 0 3rem 0;
}

.profileImage {
  width: 20rem;
  height: 20rem;
  margin: 3rem 0 3rem 0;
}

.listItem {
  margin-bottom: 1rem;
}
