main {
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.6rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* margin-top: 4rem; */
}

button {
  margin-top: 6rem;
}

h3 {
  font-size: 1.8rem;
}

/* select:onfocus {
  size: 10;
}

select:onblur {
  size: 1;
}

select:onchange {
  size: 1;
} */