.container {
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* margin-top: 4rem; */
}

.button {
  margin-top: 6rem;
}

.title {
  font-size: 1.8rem;
}

