.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.button {
  margin-right: 0.5rem;
  width: 20rem;
}

.inputField {
  margin-bottom: 1rem;
}

.title {
  
}