.card {
  background-color: whitesmoke;
  color: #000000DE;
  border-radius: 1rem;
  border-style:solid;
  padding: 1rem;
  width: 30rem;
  height: 20rem;
}

.button-area {
  display: flex;
  justify-content: space-around;
}

.edit-link {
  font-size: 1.4rem;
}

.edit-button {
  width: 10rem;
  font-size: 1.4rem;
  height: 3rem;
  color: #FFC83D !important;
  border-color: #FFC83D;
  text-align: center;
  background-color: transparent !important;
}

.delete-button {
  width: 10rem;
  height: 3rem;
  font-size: 1.4rem;
  color: #FF6969 !important;
  border-color: #FF6969 ;  
  background-color: transparent !important;
  margin: 0 !important;
}

.friend-name {
  color: #000000DE;
}

.compat-link {
  color: #000000DE
}

.compat-link:hover {
  color:#6661f1;
}

.card-footer {
  display: flex;
  justify-content: space-around;
}