.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.friend-list {
  border-color: #6661f1;
}

.card {
  background-color: whitesmoke;
  color: #000000DE;
  border-radius: 1rem;
  border-style:solid;
  padding: 1rem;
  width: 30rem;
  height: 20rem;
}

.card-footer {
  display: flex;
  justify-content: space-around;
}

/* a {
  color: #000000 !important;
} */

ul {
  width: 40vw;
  padding-left: 0;
}

li {
  border-color: #6661f1;
  margin-bottom: 1rem;
}

