.main {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* a {
  color: #000000 !important;
} */

ul {
  width: 40vw;
  padding-left: 0;
  
}

li {
  
}