.container {
  /* padding-left: 2rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.friend-list {
  border-color: #6661f1;
}

/* a {
  color: #000000 !important;
} */

ul {
  width: 40vw;
  padding-left: 0;
}

li {
  border-color: #6661f1;
  margin-bottom: 1rem;
}

