.container {
  margin-top: 10rem;
  width: 50rem;
  min-height: 80vh;
  background-color: #272727;
  border-radius: 10px;
  padding: 1rem;
  padding-bottom: 4rem;
}

button {
  margin: 2rem 0 0 0;
  border-radius: 5px;
  border-color: whitesmoke;
  width: 30rem;
  height: 5rem;
  background-color: transparent;
  color: whitesmoke;
  font-weight: bold;
  font-size: 1.6rem;
  transition: none;
  box-shadow: none;
}

button:hover {
  color: black;
  background-color: whitesmoke;
}

button:focus {
  box-shadow: none;
}

